<h1>Sign up</h1>

<%= form_for(@user) do |f|%>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
<% end %>

<%= form_for(@user) do |f|%>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
<% end %>

<%= form_for(@user) do |f|%>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
<% end %>

<%= form_for(@user) do |f|%>
	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
<% end %>

<%= form_for(@user) do |f|%>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
